<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Condor Labs</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<base href="/">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/assets/css/foundation.min.css" />
<link href="assets/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container" ng-app="app">
<div ng-controller="SearchController as searchCtrl">
  <header>
<div class="TopNavbar">
  <div class="row">
    <div class="small-12 columns">
      <nav>
        <ul class="TopNavbar-menu">
          <li class="TopNavbar-item"><a href="#" class="TopNavbar-link"><i class="fa fa-map-marker TopNavbar-icon" aria-hidden="true"></i>Florida</a></li>
          <li class="TopNavbar-item"><a href="#" class="TopNavbar-link">Support Center</a></li>
          <li class="TopNavbar-item"><a href="#" class="TopNavbar-link">Login</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div class="NavBar">
  <div class="row">
    <div class="small-12 columns">
      <div class="NavBar-logoBox">
        <a href="#" class="NavBar-logo"><img src="assets/img/logo.png" class="NavBar-logoImg"></a>
      </div>
      <div class="NavBar-menuColapsed"><i class="fa fa-bars" aria-hidden="true"></i></div>
      <div class="NavBar-content">
        <nav class="NavBar-menu">
            <ul class="NavBar-menuList">
            <li class="NavBar-menuItem"><a href="#" class="NavBar-link">Features</a></li>
            <li class="NavBar-menuItem"><a href="#" class="NavBar-link">Account Options</a></li>
            <li class="NavBar-menuItem"><a href="#" class="NavBar-link">Course search</a></li>
            <li class="NavBar-menuItem"><a href="#" class="NavBar-link">Organizations</a></li>
            <li class="NavBar-menuItem"><a href="#" class="NavBar-link">About</a></li>
            </ul>
        </nav>
        <div class="NavBar-buttonContainer">
            <button class="NavBar-button"> 7 day trial </button>
        </div>
      </div>
    </div>
  </div>
</div>
    </header>
<script type="text/ng-template" id="search.html">
  <section class="HeroBanner">
    <div class="HeroBanner-imageBox">
      <picture>
        <source media="(min-width: 480px)" srcset="assets/img/banner.jpg">
        <source media="(min-width: 1024px)" srcset="assets/img/banner.jpg">
        <img src="assets/img/banner-mobile.jpg" alt="banner" class="HeroBanner-image">
      </picture>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div class="HeroBanner-containerInfo">
          <h1 class="HeroBanner-title">Course Search</h1>
          <div class="HeroBanner-search">
            <input type="text" id="search" 
            class="HeroBanner-input" placeholder="Search courses and providers..." ng-model="searchText"/>
            <button type="button" class="HeroBanner-icon" ng-click="vm.search(searchText)"><i class="fa fa-search"></i></button>
          </div>
          <p class="HeroBanner-description"><span>Florida | Registered Nurse Florida</span></p>
        </div>
      </div>
    </div>
  </section>
</script>
<hero-banner></hero-banner><script type="text/ng-template" id="featured-courses.html">
  <section class="FeaturedCourses">
    <div class="row">
      <div class="small-12 columns">
        <h2 class="FeaturedCourses-title">Featured Courses</h2>

        <div class="FeaturedCourses-container" ng-repeat="card in vm.data">
          <div class="small-12 medium-4 columns nopadding">
            <div class="FeaturedCourses-image">
              <img ng-src="https://storage.cebroker.com/CEBroker/{{card.banner}}" alt="Courses img">
            </div>
          </div>
          <div class="small-12 medium-8 columns nopadding">
            <div class="FeaturedCourses-infoBox">
              <div class="FeaturedCourses-info">
                <h5 class="FeaturedCourses-infoTitle" ng-bind="card.name"></h5>
                <p class="FeaturedCourses-infoCompany" ng-bind="card.provider"></p>
                <p class="FeaturedCourses-infoDuration" ng-bind="card.hours"></p>
                <div class="FeaturedCourses-buttonContainer">
                  <button class="FeaturedCourses-button">{{ card.price | currency }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</script>
<featured-courses></featured-courses><script type="text/ng-template" id="results.html">
  <section class="Results">
    <div class="row">
      <div class="small-12 columns">
        <h2 class="Results-title"><span class="Results-titleColor">{{ vm.totalItems }}</span> Results</h2>
        <div class="Results-containerBox">
          <div class="Results-infoBox" ng-repeat="box in vm.data">
            <div class="Results-info">
              <h5 class="Results-infoTitle" ng-bind="box.name"></h5>
              <p class="Results-infoCompany" ng-bind="box.provider"></p>
              <p class="Results-infoDuration">{{ box.hours }} • {{ box.description }}</p>
              <div class="Results-buttonContainer">
                  <button class="Results-button"> {{ box.price | currency }} </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</script>
<results course-name="searchCtrl.courseName"></results></div>
<footer>

</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
<script src="assets/js/scripts.js"></script>
  </div>
</body>
</html>
